<h1><%= h(@instance.class.scaffold_model_name) %> anzeigen</h1>
<%= record_show(@instance, {:timestamps=>true}) %>
<%= link_to (image_tag("edit.png") + " #{h(@instance.class.scaffold_model_name)} bearbeiten", :action=>'edit', :id=>@instance.id) %>
